<STYLE TYPE="text/css">

BODY
{
}
A:LINK    {COLOR: #1e45c8; FONT-FAMILY: VERDANA; TEXT-DECORATION: UNDERLINE} 
A:VISITED {COLOR: #000000; FONT-FAMILY: VERDANA; TEXT-DECORATION: NONE} 
A:ACTIVE  {COLOR: #1e45c8; FONT-FAMILY: VERDANA; TEXT-DECORATION: UNDERLINE} 
A:HOVER   {COLOR: #1e45c8; FONT-FAMILY: VERDANA; TEXT-DECORATION: UNDERLINE}

BODY
{
    BACKGROUND-COLOR: #EEEEEE;
    COLOR: #666666;
    FONT-FAMILY: Verdana;
    FONT-SIZE: 7pt;
    FONT-STYLE: bold;
    FONT-VARIANT: normal;
}
BODY.INNER
{
    BACKGROUND-COLOR: #FFFFFF;
    COLOR: #666666;
    FONT-FAMILY: Verdana;
    FONT-SIZE: 7pt;
    FONT-STYLE: bold;
    FONT-VARIANT: normal;
}
PRE.XML
{
    COLOR: #003399;
    FONT-FAMILY: Verdana;
    FONT-SIZE: 7pt;
    FONT-VARIANT: normal;
    TEXT-DECORATION: none
}

TABLE
{
    BACKGROUND-COLOR: #FFFFFF;
    FONT-FAMILY: Verdana;
    FONT-SIZE: 10pt;
    FONT-VARIANT: normal;
    PADDING-BOTTOM: 0px;
    PADDING-LEFT: 0px;
    PADDING-RIGHT: 0px;
    PADDING-TOP: 0px;
    TEXT-ALIGN: left;
    VALIGN: MIDDLE;
}
TABLE.DIM
{
    BACKGROUND-COLOR: #FFFFFF;
    FONT-FAMILY: Verdana;
    FONT-SIZE: 10pt;
    FONT-VARIANT: normal;
    PADDING-BOTTOM: 0px;
    PADDING-LEFT: 0px;
    PADDING-RIGHT: 0px;
    PADDING-TOP: 0px;
    TEXT-ALIGN: left;
    VALIGN: MIDDLE;
}

TD
{
    BACKGROUND-COLOR: #FFFFFF;
    COLOR: #333333;
    FONT-FAMILY: Verdana;
    FONT-SIZE: 7pt
}
TD.ERROR
{
    BACKGROUND-COLOR: #FFFFFF;
    COLOR: #CC0000;
    FONT-WEIGHT: bold;
    FONT-FAMILY: Verdana;
    FONT-SIZE: 8pt
}
.ERROR
{
    BACKGROUND-COLOR: #CCCCCC;
    COLOR: #CC0000;
    ALIGN: RIGHT;
    FONT-WEIGHT: bold;
    FONT-FAMILY: Verdana;
    FONT-SIZE: 8pt
}
H1
{    
	letter-spacing: .1em; 
	FONT-VARIANT: SMALL-CAPS;
    padding-top:10px;
    padding-left:10px;
    color:#A9A9A9;
    font-size:25;
    font-family:verdana,arial,helvetica,san-serif;
    font-weight:bold;
}

H2
{
    padding-top:10px;
    padding-left:10px;
    color:#A9A9A9;
    font-size:19;
    font-family:verdana,arial,helvetica,san-serif;
    font-weight:bold;
    text-transform:uppercase;
}
H3
{
    color:#666666;
    font-size:11;
    height:11;
    font-family:verdana,arial,helvetica,san-serif;
    font-weight:bold;
}
HR
{
    COLOR:  #CCCCCC;
    BACKGROUND-COLOR:  #CCCCCC;
}
.BUTTON { 
   background-color:#CCCCCC;
	font: Verdana, Arial;
    font-weight:bold;
	FONT-VARIANT: SMALL-CAPS;
        color:808080;
    HEIGHT: 28px;
    font-size:9pt;  
}
.SMALL_BUTTON { 
   background-color:#CCCCCC;
	font: Verdana, Arial;
    font-weight:bold;
	FONT-VARIANT: SMALL-CAPS;
        color:808080;
    HEIGHT: 23px;
    font-size:8pt;  
}
.FIELD_3 { 
    border: 0px solid #660000; 
    height: 23px; 
    width: 30px; 
    size: 3;
    length: 3;
    COLOR: #003399;
    BORDER-BOTTOM: #FFFFFF thin inset;
    BORDER-LEFT: #FFFFFF thin inset;
    BORDER-RIGHT: #FFFFFF thin inset;
    BORDER-TOP: #FFFFFF thin inset;
    BACKGROUND-COLOR: #DDDDDD;
    FONT-FAMILY: Arial, Helvetica, sans-serif; 
    FONT-SIZE: 8pt; 
    VALIGN: "top";
    FONT-WEIGHT: bold;
}
.FIELD { 
    border: 0px solid #660000; 
    height: 23px; 
    width: 200px;
    COLOR: #003399;
    BORDER-BOTTOM: #FFFFFF thin inset;
    BORDER-LEFT: #FFFFFF thin inset;
    BORDER-RIGHT: #FFFFFF thin inset;
    BORDER-TOP: #FFFFFF thin inset;
    BACKGROUND-COLOR: #DDDDDD;
    FONT-FAMILY: Arial, Helvetica, sans-serif; 
    FONT-SIZE: 8pt; 
    VALIGN: "top";
    FONT-WEIGHT: bold;
}
.DROPDOWN { 
	border: 2px solid #660000; 
	COLOR: #003399;
	FONT-WEIGHT: bold;
        BORDER-BOTTOM: #FFFFFF thin inset;
        BORDER-LEFT: #FFFFFF thin inset;
        BORDER-RIGHT: #FFFFFF thin inset;
        BORDER-TOP: #FFFFFF thin inset;
        BACKGROUND-COLOR: #DDDDDD;
	FONT-FAMILY: Arial, Helvetica, sans-serif; 
	FONT-SIZE: 10pt; 
	VALIGN: "middle";
}
.DROPDOWN_SMALL { 
	border: 1px solid #660000; 
	COLOR: #003399;
	FONT-WEIGHT: bold;
        BORDER-BOTTOM: #FFFFFF thin inset;
        BORDER-LEFT: #FFFFFF thin inset;
        BORDER-RIGHT: #FFFFFF thin inset;
        BORDER-TOP: #FFFFFF thin inset;
        BACKGROUND-COLOR: #DDDDDD;
	FONT-FAMILY: Arial, Helvetica, sans-serif; 
	FONT-SIZE: 8pt; 
	VALIGN: "middle";
}

</STYLE>
